Django==4.2.16
django-environ==0.11.2
Pillow==10.4.0
whitenoise==6.7.0
gunicorn==22.0.0
psycopg2-binary==2.9.11
tzdata==2026.1
numpy==2.2.5
opencv-python-headless==4.11.0.86
onnxruntime==1.21.0
insightface==0.7.3
